@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    min-width: 40px;
    min-height: 40px;
    pointer-events: none;

    &.admin {
      animation: logo-spin infinite 20s linear;
    }
  }
}
