@import '../../../styles/vars.scss';
@import '../../../styles/mixins';

.adminPanel {
  .title {
    background-color: tomato;
  }

  .button {
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: grey;
      color: white;
    }
  }
}
