@import '../../../../../styles/mixins';
@import '../../../../../theme/index.scss';

.articleDetails {
  @include marginB(80px);

  .title {
    @include marginB(20px);
    @include fontSize(28px);
    @include color($light);

    @include mediaScreen('min', $tablet) {
      @include width(80%);
      @include fontSize(32px);
    }

    @include mediaScreen('min', $desktop) {
      @include width(80%);
      @include fontSize(36px);
    }
  }

  .description {
    @include marginB(20px);
    line-height: 1.4;
    @include color($middleLight);

    @include mediaScreen('min', $tablet) {
      @include width(90%);
      @include fontSize(18px);
    }

    @include mediaScreen('min', $desktop) {
      @include width(90%);
      @include fontSize(20px);
    }
  }

  .publication {
    @include flexX(space-between);
    @include marginB(20px);
    // max-width: 400px;
    @include fontSize(14px);
    color: $middleGrey;

    @include mediaScreen('min', $tablet) {
      @include flexX(flex-start);
    }

    .author {
      @include mediaScreen('min', $tablet) {
        @include marginR(40px);
      }
    }

    // .timestamp { }
  }

  .thumb {
    @include flexXY(center, center);
    @include marginB(10px);
    overflow: hidden;
  }

  .id {
    @include fontSize(12px);
    @include marginB(30px);
    color: $middleGrey;
  }

  .articleElements {
    .subTitle {
      // line-height: 3.5;
      @include color($light);

      &:not(:last-child) {
        @include marginB(20px);
        @include paddingT(10px);
      }

      @include mediaScreen('min', $tablet) {
        @include fontSize(22px);
      }

      @include mediaScreen('min', $desktop) {
        @include fontSize(24px);
      }
    }

    .paragraph {
      @include color($middleLight);

      &:not(:last-child) {
        @include marginB(30px);
      }

      @include fontSize(14px);
      line-height: 1.4;

      @include mediaScreen('min', $tablet) {
        @include fontSize(16px);
      }

      @include mediaScreen('min', $desktop) {
        @include fontSize(18px);
      }
    }
  }
}
