@import '../../../styles/vars.scss';
@import '../../../styles/mixins';

.masterPanel {
  .title {
    @include color($middleDark);
    // background-color: tomato;
  }

  .adminActionWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // max-width: 322px;
    pointer-events: none;
    z-index: 1;
  }

  .formWrap {
    @include mediaScreen('min', $tablet) {
      @include flex();
    }

    .formBlock {
      @include mediaScreen('min', $tablet) {
        &:not(:last-child) {
          @include marginR(10px);
        }
      }

      .button {
        @include panelContrastSolidButton();
        @include marginB(15px);
        width: 100%;
      }
    }
  }
}
