@import '../../../styles/vars.scss';
@import '../../../styles/mixins';

.form {
  @include flexColumn();

  // ---> React-Select using inline styles!

  > div {
    // it may be React-Select
    &:nth-last-child(2) {
      @include marginB(30px);
    }
  }

  > input {
    @include padding(10px);
    @include marginB(20px);
    font-family: Arial, sans-serif;
    @include fontSize(16px);
    color: $colorWhite;
    background-color: transparent;
    border: none;
    @include transition($s04);
    outline: none;
    border-bottom: 1px solid $middleDark;
    caret-color: $middleDark;
    border-radius: 0;

    &::placeholder {
      color: $middleDark;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 50px $reactBackground inset;
      -webkit-text-fill-color: $colorWhite;
      caret-color: $middleDark;
    }

    &::-moz-placeholder {
      background-color: $light;
    }

    &:nth-last-child(2) {
      @include marginB(30px);
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  // > input[name='authorName'] {
  //   color: red;
  // }

  > button {
    @include formContrastSolidButton();
  }
}
