@import '../../../../../styles/vars';
@import '../../../../../styles/_mixins';

.tagsBlock {
  @include marginB(20px);
  @include padding(15px 15px 20px);
  @include border(1px solid $middleDark);
  border-radius: 6px;

  @include mediaScreen('min', $tablet) {
    @include display(flex);
    @include padding(20px);
  }

  .selectWrap {
    width: 100%;

    @include mediaScreen('max', $tablet - 0.1) {
      @include marginB(20px);
    }

    @include mediaScreen('min', $tablet) {
      @include marginR(20px);
      max-width: 220px;
    }

    > div {
      margin-bottom: 0;
    }
  }

  .tagsWrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > span.tagBox {
      display: flex;
      align-items: center;
      gap: 5px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 15px;
      }

      > span.tag {
        color: $middleLight;
        font-size: 12px;
        line-height: 1.6;
      }

      > span.closeButton {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $paleColor;
        border-radius: 50%;
        opacity: 0.6;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}
