@import '../theme/index.scss';
@import '../styles/vars.scss';

// --- position:

@mixin position($p: static) {
  position: $p;
}

@mixin top($t: 0) {
  top: $t;
}

@mixin right($r: 0) {
  right: $r;
}

@mixin left($l: 0) {
  left: $l;
}

@mixin bottom($b: 0) {
  bottom: $b;
}

// ------- display

@mixin display($d: block) {
  display: $d;
}

@mixin flex() {
  display: flex;
}

@mixin flexX($X: center) {
  display: flex;
  justify-content: $X;
}

@mixin flexY($Y: center) {
  display: flex;
  align-items: $Y;
}

@mixin flexXY($X: center, $Y: center) {
  display: flex;
  justify-content: $X;
  align-items: $Y;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnX($x: flex-start) {
  display: flex;
  flex-direction: column;
  align-items: $x;
}

@mixin flexColumnY($y: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $y;
}

@mixin flexWrap($fw: wrap) {
  display: flex;
  flex-wrap: $fw;
}

// ------- padding

@mixin padding($padding: 0) {
  padding: $padding;
}

@mixin paddingT($pt: 0) {
  padding-top: $pt;
}

@mixin paddingR($pr: 0) {
  padding-right: $pr;
}

@mixin paddingB($pb: 0) {
  padding-bottom: $pb;
}

@mixin paddingL($pl: 0) {
  padding-left: $pl;
}

// ------- margin

@mixin margin($margin: 0) {
  margin: $margin;
}

@mixin marginR($mr: 0) {
  margin-right: $mr;
}

@mixin marginB($mb: 0) {
  margin-bottom: $mb;
}

// ------- width / height

@mixin width($width: auto) {
  width: $width;
}

@mixin height($height: auto) {
  height: $height;
}

@mixin widthHeight($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

// ------- Font

@mixin fontSize($size) {
  font-size: $size;
}

@mixin fontSW($s: 16px, $w: 400) {
  font-size: $s;
  font-weight: $w;
}

@mixin letterSpacing($ls: 1.2px) {
  letter-spacing: $ls;
}

@mixin lineHeight($lh: 1) {
  line-height: $lh;
}

@mixin textTransform($tt: none) {
  text-transform: $tt;
}

@mixin color($c: tomato) {
  color: $c;
}

@mixin textTransform($tt) {
  text-transform: $tt;
}

// --- border:

@mixin border($b) {
  border: $b;
}

@mixin borderT($bt) {
  border-top: $bt;
}

@mixin borderB($bb) {
  border-bottom: $bb;
}

// --- overflow:

@mixin overflow($o: visible) {
  overflow: $o;
}

@mixin overflowX($o: visible) {
  overflow-x: $o;
}

@mixin overflowY($o: visible) {
  overflow-y: $o;
}

// --- opacity:

@mixin opacity($o: 1) {
  opacity: $o;
}

// ------- transition

@mixin transition($tsn) {
  -webkit-transition: $tsn;
  transition: $tsn;
}

// ------- other

@mixin cursor($c) {
  cursor: $c;
}

@mixin z($zi) {
  z-index: $zi;
}

// ------- @media

@mixin mediaScreen($var, $w) {
  @if $var == 'min' {
    @media screen and (min-width: $w) {
      @content;
    }
  } @else if $var == 'max' {
    @media screen and (max-width: $w) {
      @content;
    }
  }
}

@mixin mediaScreenRange($minWidth, $maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}

// ------- Buttons:

@mixin defaultButtonStyle() {
  @include padding(5px 12px);
  font-weight: 600;
  @include fontSize(14px);
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $middleGreyHover;
  }
}

@mixin contrastSolidButton() {
  @include fontSize(14px);
  font-weight: 600;
  color: $light;
  background-color: $contrastLight;
  cursor: pointer;
  @include transition($s04);
  user-select: none;

  &:hover {
    background-color: $contrastLightHover;
  }

  // &:active {
  //   background-color: red;
  // }
}

@mixin formContrastSolidButton() {
  @include contrastSolidButton();
  @include padding(15px);
  text-transform: uppercase;
  border-radius: 6px;
}

@mixin panelContrastSolidButton() {
  @include contrastSolidButton();
  @include padding(8px 15px);
  border-radius: 4px;
}

@mixin techButton() {
  @include flexXY(center, center);
  @include padding(0 8px);
  @include height(26px);
  @include fontSize(12px);
  font-weight: 400;
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    background-color: $middleGreyHover;
  }
}

@mixin lineClamp($lines: 2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin logo($size: 18px, $space: 4px) {
  font-size: $size;
  font-weight: 400;
  line-height: 1;
  letter-spacing: $space;
  text-transform: uppercase;
}

// --- Buttons:

@mixin buttonStyle() {
  @include padding(5px 12px);
  font-weight: 600;
  @include fontSize(14px);
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $middleGreyHover;
  }
}

@mixin contrastSolidButton() {
  @include padding(8px 15px);
  @include fontSize(14px);
  font-weight: 600;
  color: $dark;
  background-color: $contrastDark;
  border-radius: 6px;
  cursor: pointer;
  @include transition($s04);
  user-select: none;

  &:hover {
    background-color: $contrastDarkHover;
  }

  // &:active {
  //   background-color: red;
  // }
}

@mixin techButton() {
  @include flexXY(center, center);
  @include padding(0 8px);
  @include height(26px);
  @include fontSize(12px);
  font-weight: 400;
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    background-color: $middleGreyHover;
  }
}
