@import '../theme/index.scss';
@import '../styles/vars.scss';

// ------- display

@mixin display($d: block) {
  display: $d;
}

@mixin flex() {
  display: flex;
}

@mixin flexX($X: center) {
  display: flex;
  justify-content: $X;
}

@mixin flexY($Y: center) {
  display: flex;
  align-items: $Y;
}

@mixin flexXY($X: center, $Y: center) {
  display: flex;
  justify-content: $X;
  align-items: $Y;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnX($x: flex-start) {
  display: flex;
  flex-direction: column;
  align-items: $x;
}

@mixin flexWrap($fw: wrap) {
  display: flex;
  flex-wrap: $fw;
}

// ------- padding

@mixin padding($padding: 0) {
  padding: $padding;
}

@mixin paddingT($pt: 0) {
  padding-top: $pt;
}

@mixin paddingR($pr: 0) {
  padding-right: $pr;
}

@mixin paddingB($pb: 0) {
  padding-bottom: $pb;
}

@mixin paddingL($pl: 0) {
  padding-left: $pl;
}

// ------- margin

@mixin margin($margin: 0) {
  margin: $margin;
}

@mixin marginR($mr: 0) {
  margin-right: $mr;
}

@mixin marginB($mb: 0) {
  margin-bottom: $mb;
}

// ------- width / height

@mixin width($width: auto) {
  width: $width;
}

@mixin height($height: auto) {
  height: $height;
}

@mixin widthHeight($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

// ------- Font

@mixin fontSize($size) {
  font-size: $size;
}

@mixin fontSW($s: 16px, $w: 400) {
  font-size: $s;
  font-weight: $w;
}

@mixin letterSpacing($ls: 1.2px) {
  letter-spacing: $ls;
}

@mixin lineHeight($lh: 1) {
  line-height: $lh;
}

@mixin textTransform($tt: none) {
  text-transform: $tt;
}

@mixin color($c: tomato) {
  color: $c;
}

// --- overflow:

@mixin overflow($o: visible) {
  overflow: $o;
}

@mixin overflowX($o: visible) {
  overflow-x: $o;
}

@mixin overflowY($o: visible) {
  overflow-y: $o;
}

// --- opacity:

@mixin opacity($o: 1) {
  opacity: $o;
}

// ------- transition

@mixin transition($tsn) {
  -webkit-transition: $tsn;
  transition: $tsn;
}

// ------- theme

@mixin themeHandler() {
  &.dark {
    @include theme('light');

    @content;
  }

  &.light {
    @include theme('dark');

    @content;
  }
}

// ------- @media

@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin widthRange($minWidth, $maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}

// ------- Buttons:

@mixin defaultButtonStyle() {
  @include padding(5px 12px);
  font-weight: 600;
  @include fontSize(14px);
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $middleGreyHover;
  }
}

@mixin contrastSolidButton() {
  @include fontSize(14px);
  font-weight: 600;
  color: var(--text-invert);
  background-color: var(--contrast-background);
  cursor: pointer;
  @include transition($s04);
  user-select: none;

  &:hover {
    background-color: var(--contrast-background-hover);
  }

  // &:active {
  //   background-color: red;
  // }
}

@mixin formContrastSolidButton() {
  @include contrastSolidButton();
  @include padding(15px);
  text-transform: uppercase;
  border-radius: 6px;
}

@mixin panelContrastSolidButton() {
  @include contrastSolidButton();
  @include padding(8px 15px);
  border-radius: 4px;
}

@mixin techButton() {
  @include flexXY(center, center);
  @include padding(0 8px);
  @include height(26px);
  @include fontSize(12px);
  font-weight: 400;
  color: $colorWhite;
  background-color: $middleGrey;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    background-color: $middleGreyHover;
  }
}
