@import '../../theme/index.scss';

.header {
  .container {
    width: 100%;
    margin: 0 auto;

    // -------------- scrolling Header

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Internet Explorer/Edge
    &::-webkit-scrollbar {
      width: 0; // Chrome/Safari/Opera
    }

    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;

    .content {
      display: flex;
      align-items: center;
      min-height: 45px;
      color: grey;

      .value {
        color: $paleColor;

        &.button {
          cursor: pointer;
        }
      }
    }
    .admin {
      .value {
        color: $reactColor;
      }
    }
  }
}
