@import '../../styles/vars.scss';
@import '../../styles/mixins';

.wrap {
  @include themeHandler() {
    .form {
      @include padding(30px 20px);
      max-width: 320px;
      text-align: center;
      border: 1px solid $middleGrey;
      border-radius: 6px;

      .title {
        display: block;
        @include marginB(25px);
        @include fontSize(24px);
        font-weight: 600;
        color: $middleGrey;
      }
    }
  }
}
