@import '../../styles/vars.scss';
@import '../../styles/mixins';

.formWrap {
  @include position(absolute);
  @include left(0);
  @include width(100%);
  @include z(1);

  @include mediaScreen('min', $tablet) {
    @include left(auto);
    max-width: 322px;
  }

  .formBlock {
    @include position(relative);
    @include padding(25px 20px 30px);
    @include margin(0 auto);
    text-align: center;
    border: 1px solid $middleDark;
    background-color: $reactBackground;
    border-radius: 6px;
    max-width: 280px;

    .closeButton {
      @include position(absolute);
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: $paleColor;
        border-radius: 50%;
        opacity: 0.6;
      }

      &:hover::after {
        cursor: pointer;
        opacity: 1;
      }
    }

    .title {
      @include display(block);
      @include marginB(20px);
      @include fontSW(18px, 600);
      @include color($middleDark);
    }
  }

  .submitError {
    text-align: center;
    @include paddingT(10px);
    @include fontSW(14px);
    @include color($colorRed);
  }
}
