@import '../../styles/vars.scss';
@import '../../styles/mixins';

.dashboard {
  @include padding(0 20px);
  @include margin(0 auto);
  @include marginB(100px);
  max-width: $max;

  .mainSection {
    position: relative;
    @include margin(0 auto);
    @include marginB(10px);

    @include mediaScreen('min', $mobile) {
      max-width: $mobile;
    }

    @include mediaScreen('min', $tablet) {
      max-width: $tablet;
    }

    @include mediaScreen('min', $desktop) {
      max-width: $desktop - 60;
    }
  }
}
