@import '../../styles/vars.scss';
@import '../../styles/mixins';

.loginWrap {
  @include paddingT(12vh);

  .login {
    @include padding(30px 20px);
    @include margin(0 auto);
    max-width: 300px;
    text-align: center;
    border: 1px solid $middleGrey;
    border-radius: 6px;

    .title {
      display: block;
      @include marginB(25px);
      @include fontSize(24px);
      font-weight: 600;
      color: $middleGrey;
    }

    @include themeHandler() {
      .loginForm {
        @include flexDirection(column);

        > input {
          @include padding(10px);
          @include marginB(20px);
          font-family: Arial, sans-serif;
          @include fontSize(16px);
          color: var(--text);
          background-color: transparent;
          border: none;
          @include transition($s04);
          outline: none;
          border-bottom: 1px solid $middleGrey;
          caret-color: $middleGrey;

          &::placeholder {
            color: $middleGreyHover;
          }

          &:-webkit-autofill {
            box-shadow: 0 0 0 50px var(--background-react) inset;
            -webkit-text-fill-color: var(--text);
            caret-color: $middleGrey;
          }

          &::-moz-placeholder {
            background-color: var(--background);
          }

          &:nth-child(1) {
            border-radius: 0;
          }

          &:nth-child(3) {
            @include marginB(30px);
            border-radius: 0;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }

        > button {
          @include transition($s04);
          @include padding(15px);
          // @include fontSize(14px);
          text-transform: uppercase;
          color: var(--text-invert);
          background-color: var(--contrast-background);
          border: none;

          &:hover {
            background-color: var(--contrast-background-hover);
          }
        }
      }
    }
  }
  .loginError {
    text-align: center;
    @include paddingT(10px);
    @include fontSize(14px);
    color: $colorRed;
  }
}
