@import '../../../../styles/vars.scss';
@import '../../../../styles/_mixins.scss';

.articleHandlerWrap {
  position: relative;

  // .articlePreview {} // *

  .actionButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
    cursor: pointer;

    &.isReset {
      transform: rotate(360deg);
    }

    &.isDelete {
      @include padding(20px 20px 20px);
      @include width(auto);
      @include height(auto);
      background-color: $reactBackground;
      border: 1px solid $middleGrey;
      border-radius: 6px;
      cursor: auto;

      .deleteText {
        @include margin(0 auto);
        @include color($middleGrey);
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
      }

      .deleteButtonWrap {
        > button {
          @include color($light);

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .mainButtons {
    display: flex;

    > button {
      @include contrastSolidButton();
      @include padding(15px);
      @include textTransform(uppercase);

      width: 50%;

      &:nth-child(1) {
        @include marginR(10px);
      }
    }
  }

  .submitErrors {
    padding: 15px 10px;
    text-align: center;
    color: $colorRed;
  }

  // .success {
  //   @include flexY(center);
  //   height: 60vh;

  //   .successContent {
  //     @include flexColumnX(center);
  //     @include margin(0 auto);

  //     > svg {
  //       @include marginB(30px);
  //     }

  //     .successMessage {
  //       color: $middleLight;
  //     }
  //   }
  // }
}

.successPopup {
  @include flexY(center);
  height: 60vh;

  .successContent {
    @include flexColumnX(center);
    @include margin(0 auto);

    > svg {
      @include marginB(30px);
    }

    .successMessage {
      color: $middleLight;
    }
  }
}
