@import '../../../../../styles/vars.scss';
@import '../../../../../styles/_mixins.scss';

.headerFields {
  @include marginB(20px);
  @include padding(15px 15px 20px);
  border: 1px solid $middleDark;
  border-radius: 6px;

  @include minWidth($tablet) {
    @include padding(20px 20px 25px);
  }

  .infoText {
    @include marginB(20px);
    @include fontSize(16px);
    width: 85%;
    font-weight: 600;
    color: $middleDark;
    user-select: none;
  }

  .fields {
    @include display(inline-flex);
    flex-direction: column;
    align-items: flex-start;
    @include marginB(20px);
    width: 100%;

    .field {
      @include padding(10px);
      width: 100%;
      font-family: Arial, sans-serif;
      @include fontSize(16px);
      color: $middleLight;
      background-color: transparent;
      border: none;
      @include transition($s04);
      outline: none;

      &.input {
        max-width: calc(100% - 20px);
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid $middleGrey;
        border-radius: 0;
      }

      &.textarea {
        max-width: calc(100% - 22px);
        height: 300px;
        border: 1px solid $middleGrey;
        border-radius: 6px;
        resize: none;

        @include minWidth($tablet) {
          height: 150px;
        }

        @include minWidth($desktop) {
          height: 120px;
        }
      }

      &:focus {
        border-color: $colorGreen;

        &::placeholder {
          @include transition($s04);
          color: transparent;
        }
      }
    }
  }
}
