@import '../../../../../styles/vars.scss';
@import '../../../../../styles/mixins';

.imageUploader {
  @include display(inline-flex);
  // @include marginB(50px);

  // @include padding(0 0 20px);
  // background-color: pink;

  .thumb {
    @include marginR(10px);
    width: 63px;
    height: 32px;
    overflow: hidden;
    @include flexX(center);
    // background-color: teal;
  }

  label {
    // display: inline-block;
    @include buttonStyle();
    @include contrastSolidButton();
    text-align: center;

    .fileInput {
      display: none;
    }
  }
}
